name: Upload Python Package

on:
  release:
    types: [published]
permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Build release dist
        run: uv build

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write
    environment:
      name: pypi

    steps:
      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: py-package-dist
          path: dist/

      - name: Publish release dist
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
